/* box border sizing */
* {
    box-sizing: border-box;
}
/* body background color */
body{
    background-color: hsl(210, 17%, 98%);
    color:black;
    font-family: 'bangers', cursive;
    margin-left: 50px;
    margin-right: 50px;

}
.g{
width: 80%;
margin: 0 auto;
}
/* header tag */
header{
    background-color: aliceblue;

}
header::after{
    contain: "";
    display: table;
    clear: both;
}
/* navbar logo image */
.logo{
    float: right;
    padding: 1px 0;
    padding-right: 35px;
}
/* navbar */
nav{
    
    overflow: hidden;
    float: left;
    font-weight: 100;
    position: sticky;
    top: 40px;

}
nav ul{
    margin: 0;
    padding:0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 90px;
    padding-top: 15px;
}
nav a{
    color:lightslategray;
    text-decoration: none;
    text-transform: uppercase;

}
nav a:hover {
    color:black;
}
/* h1 tag */
h1{
    padding-right: 198px;
    padding-left: 19px;
    padding-top:125px;
    padding-bottom: 80px;
    text-align: center;
    text-transform: uppercase;
    padding-left:198px;
}
/* It's the button layout */
.botton{
    border-style: solid;
    border-width: 1px;
    border-color:black;
    box-shadow: 2px;
    text-align: center;
    background-color:hsl(210, 17%, 98%);
    color:white;
    padding-top: 8px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 8px;
    margin-left: 373px; 
    font-size: 20px;
    font: bolder
}
.botton  a{
        color:lightslategray;
        text-decoration: none;
        text-transform: uppercase;
    
    }

.botton a:hover {
    color:black;
}

.button {background-color:None; color: black;}  

.img{
    box-align:right;
}

/*elment class floateing  */
.in{
    float: right;
    padding-top: 80px;
    margin-right: 120px;
}
/* Remove link under-line */
.in a{
    color:lightslategray;
    text-decoration: none;
    text-transform: uppercase;

}

/* Create two equal columns that floats next to each other */
.column {
    width:100%;
    float: left;
    width: 50%;
    padding: 10px;
    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*Picture hight and width */
.pic{
    height: 260px;
}
.colum {
        width:100%;
        float: right;
        width: 33.33%;
        padding: 10px;
         
      }
/* Clear floats after the columns */
.ro:after {
        content: "";
        display: table;
        clear: both;
      }

/* Footer align center and bottom padding */
footer{
    
    text-align: center;
    padding-bottom: 10px;
}
